.app {
    background-color: #ffffff;
}

.uList {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    max-width: min-content;
}

.eachList {
    padding: 10px;
    cursor: pointer;
    border: none;
    outline: 0px;
    margin: 1.5px;
    border: 1px solid #dcdcdc;
    transition: all ease-in 0.3s;
    border-radius: 4px;
    background-color: transparent;
    font-size: 12px;
    font-weight: bold;
}

.eachList:hover {
    background-color: #dbdada;
}